.nav.nav-tabs .nav-link {
    color: #000 !important;
    background: #fff !important;
}


link, .nav.nav-tabs .nav-link.active {
    color: #003cad !important;
    /* border-bottom: #003cad 2px solid; */
}

.detail-c{
    padding-top: 10px;
}

.itenary{
    margin-right: 1px;
    margin-left: 1px;
    background: #c1d4f8;
    padding: 5px;
    color: #043591;
    border: #043591 solid 1px;
}

.table td, .table th {
    padding-left: 0 !important; 
}

.all-flight-scroll{
    overflow: scroll;
}

@media ( max-width: 768px ){
    .fare{
        margin-top: 3rem;
    }
}

